.Post {
    background-color: #E1EDE0;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.25), 0px 4px 4px rgba(0,0,0,0.25);
    width: 45vw;
    height: 35vw;
    margin: 2vw auto;
    border-radius: 10px;
    font-size: 11pt;
    text-align: left;
    position: relative;
}

.location {
    background-color: white;
    /* box-shadow: 0px 4px 4px rgba(0,0,0,0.25), 0px 4px 4px rgba(0,0,0,0.25); */
    border-radius: 10px;
    width: 90%;
    height: 11%;
    margin: 5% 5%;
    /* padding: 2px; */
    display: flex;
    align-items: center;
    position: absolute;
}

.location p {
    padding: 15px;
    padding-top: 30px;
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    height: 65%;
    margin: 15% 5%;
    position: absolute;
}

.caption {
    background-color: white;
    /* box-shadow: 0px 4px 4px rgba(0,0,0,0.25), 0px 4px 4px rgba(0,0,0,0.25); */
    border-radius: 10px;
    width: 30%;
    height: 100%;
    font-size: 11pt;
    display: flex;
    align-items: center;
    
}

.caption p {
    padding: 0 15px;
    width: 100%;
    height: 80%;
    overflow: auto;
    
}

.photo {
    background-color: white;
    /* box-shadow: 0px 4px 4px rgba(0,0,0,0.25), 0px 4px 4px rgba(0,0,0,0.25); */
    border-radius: 10px;
    width: 67%;
    height: 100%;
}

.likes {
    text-align: left;
    margin: 68% 5%;
    width: 90%;
    height: auto;
    position: absolute;
}

.like-icon {
    width: 7%;
    height: auto;
}

.clean-button {
    padding: 10px;
    margin: 10px;
    border: 1px solid green;
    font-weight: bold;
    color: green;
    border-radius: 10px;
    margin-left: 84%;
    margin-top: 0%;
    position: absolute;
}

@media only screen and (max-width: 860px) {
    .location {
        font-size: 1.6vw;
    }
    .caption p {
        overflow: hidden;
        font-size: 1.6vw;
    }
}