<<<<<<< HEAD
.navbar {
	display: flex;
  	justify-content: space-around;
}

.navbar-brand {
	color: green !important;
	font-weight: bold;
	font-size: 40px !important;
}

.dropdown {
	border-radius: 10px;
  	border: 1px solid #73AD21;
} 

.form-control {
	border: 1px solid #73AD21 !important;
=======
.navbar-brand {
	font-size: 30px;
}

.status {
	width: 100%;
	border: 5px solid green;
	padding: 25px;
	margin: 2px;
>>>>>>> 4a4515d6900a9d3a366328387580e66e008e7e25
}