#home-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #e0f1e1;
}
.Home {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    width: 100%;
    height: 50%;
    position: absolute;
}

.title {
    color: #245629;
    font-size: 30vh;
    position: absolute;
    margin-top: 25vh;
}

.subtitle {
    font-size: 5vh;
    margin-top: 80vh;
    margin-bottom: 0;
    position: absolute;
}

.facebook-login {
    margin-top: 100vh;
    position: absolute;
}

.skip {
    margin-top: 120vh;
    position: absolute;
}