.navbar {
	display: flex;
  	justify-content: space-around;
}

.navbar-brand {
	color: green !important;
	font-weight: bold;
	font-size: 40px !important;
}

.dropdown {
	border-radius: 10px;
  	border: 1px solid #73AD21;
} 

.form-control {
	border: 1px solid #73AD21 !important;
}