.navbar {
	display: flex;
	  justify-content: space-around;
	  -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
	box-shadow: 0 8px 6px -6px #999;
	position: fixed !important;
	top:0;
	width: 100%;;
	z-index: 1;
}

.navbar-brand {
	color: #245629 !important;
	font-weight: bold;
	font-size: 40px !important;
}

.dropdown {
	border-radius: 10px;
  	border: 1px solid #245629;
} 

.form-control {
	border: 1px solid #245629 !important;
}

.btn {
	border: 1px solid #245629 !important;
	color:#245629 !important;
}

.btn:hover{
	background-color: #245629 !important;
	color:white !important;
}