.form-wrapper {
    width: 90%;
    margin: 5% 5%;
}

.upload {
    position: relative;
    margin: 8vw 3vw 2vw;
    width: 45vw;
    height: 19vw;
    background: #FFFFFF;
    box-shadow:  5px 10px 18px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-size: 11pt;
}

.location-option {
    margin-left: 5%;
}

#upload-wrapper {
    margin-left: 3%;
    margin-top: -1%;
}

#post-wrapper {
    margin-left: 90%;
    margin-top: -6%;
}